__pycache__/
*.py[cod]
.vscode/
.idea/
.DS_Store
Thumbs.db


# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Ignore virtual environment directories
.venv/
env/
venv/
# Ignore log files
*.log
# Ignore merged data files
merged_ecommerce_data.csv
# Ignore figures and reports
figures/
reports/*.pdf


reports/*.pptx


reports/*.docx
# Ignore data directories
data/raw/
data/processed/
data/interim/
data/external/

# Ignore notebooks directory
notebooks/
